.edit-activity-model{
  display: flex;
  line-height: 35px;
  height: 35px;
}

.edit-activity-model-title{
  width: 100px;
}
.edit-activity-model-value{
  width: 400px;
}

.add-activity-buttn {

}

.add-activity-buttn button{
  margin-right: 20px;
}


.activity-management-title{
  display: flex;
    justify-content: space-between;
}